<p>
  Three of the workshops in this series (Introduction to Unix shell and Linux, Websites and versioning with Git, and Python for Humanities) are based (entirely or in part) on Software Carpentry (SWC) materials. 
  Some alternations were made to more finely tune the subject matter to Humanities and Social Sciences applications.
</p>
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what SWC teaches and why,
    please see their paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
<p>
 The material for the remaining two workshops (Regular Expressions and Web Scraping with Python) were developed outside of SWC, 
 but are designed to follow the same strucutre and flow, and be similarly accessible to beginners.  

