<div class="row">
  <div class="col-md-8">
    <h3>Session 1: Unix Shell, November 5, 2020 </h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>The Linux file system</td> </tr>
      <tr> <td>10:30</td>  <td>First break</td> </tr>
      <tr> <td>10:45</td>  <td>Automating tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Second break</td> </tr>
      <tr> <td>12:00</td>  <td>Finding things </td> </tr>
      <tr> <td>01:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-8">
    <h3>Session 2: Websites and versioning with Git, November 12, 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control </td> </tr>
      <tr> <td>10:30</td>  <td>First break</td> </tr>
      <tr> <td>10:45</td>  <td>Collaborating (Continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Second break</td> </tr>
      <tr> <td>12:00</td>  <td>Websites with Git </td> </tr>
      <tr> <td>01:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-8">
    <h3>Session 3: Regular Expressions, November 19, 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control </td> </tr>
      <tr> <td>10:30</td>  <td>First break</td> </tr>
      <tr> <td>10:45</td>  <td>Collaborating </td> </tr>
      <tr> <td>11:45</td>  <td>Second break</td> </tr>
      <tr> <td>12:00</td>  <td>Websites with Git </td> </tr>
      <tr> <td>01:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-8">
    <h3>Session 4: Python for Humanities, November 26, 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to Python </td> </tr>
      <tr> <td>10:30</td>  <td>First break</td> </tr>
      <tr> <td>10:45</td>  <td>Data types and DataFrames </td> </tr>
      <tr> <td>11:45</td>  <td>Second break</td> </tr>
      <tr> <td>12:00</td>  <td>Data workflows and automation </td> </tr>
      <tr> <td>01:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-8">
    <h3>Session 5: Web Scraping with Python, December 3, 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Ethical web scraping and social media </td> </tr>      
      <tr> <td>09:30</td>  <td>Beautiful soup</td> </tr>      
      <tr> <td>10:30</td>  <td>First break</td> </tr>
      <tr> <td>10:45</td>  <td>Parsing </td> </tr>
      <tr> <td>11:45</td>  <td>Second break</td> </tr>
      <tr> <td>12:00</td>  <td>Tips, tricks and other methods </td> </tr>
      <tr> <td>01:00</td>  <td>END</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
        
</div>
