<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Pipes and Redirection</li>
      <li>Looping Over Files</li>
      <li>Creating and Running Shell Scripts</li>
      <li>Finding Things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control adn websites with Git</h3>
    <ul>
      <li>Creating a Repository</li>
      <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing Changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring Files</li>
      <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving Conflicts</li>
      <li>Website hosting with Git</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
<div class="row">
  <div class="col-md-6">
    <h3> Regular Expressions </h3>
    <ul>
      <li>Creating a Repository</li>
      <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing Changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring Files</li>
      <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving Conflicts</li>
      <li>Website hosting with Git</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3> Python for Humanities</h3>
    <ul>
      <li>Using Libraries</li>
      <li>Working with Arrays</li>
      <li>Reading and Plotting Data</li>
      <li>Creating and Using Functions</li>
      <li>Loops and Conditionals</li>
      <li>Defensive Programming</li>
      <li>Using Python from the Command Line</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3> Web scraping with Python </h3>
    <ul>
      <li>Ethics of web scraping</li>
      <li>Challneges with social media</li>
      <li>API Querying</li>
      <li>Intro to Beautiful soup</li>
      <li>Parsing your soup</li>
      <li>Tips and Tricks</li>
      <li>Other methods</li>
    </ul>
  </div>
</div>
